/****Arquivos****/
*.project
*.launch
*.iml
*.classpath
*.class
.project
~$layout.doc
.idea/ManagerXML.iml
.idea/misc.xml
META-INF/MANIFEST.MF

/****Pastas****/
.idea
.settings
.externalToolBuilders
.directory
build
out
/bin/
/target/
/build/
